<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <title>Wits Residency Data Visualisation</title>
  <script src="https://code.highcharts.com/highcharts.js"></script>
</head>

<body>
  <header>
    <h1 class="page-title">Wits Residency Data Visualisation</h1>
  </header>
  <main>
    <div> <a href="/ResA"type="button"style="height:20px;width:100px; margin: -20px -50px;position:relative;top:50%; 
      left:30%;background-color:white">Res A</a><a href="/ResB" type="button"style="height:20px;width:100px; margin: -20px -50px;position:relative;top:50%; 
      left:40%;background-color:white">Res B</a><a href="/ResC" type="button"style="height:20px;width:100px; margin: -20px -50px;position:relative;top:50%; 
      left:50%;background-color:white">Res C</a><a href="/ResD" type="button"style="height:20px;width:100px; margin: -20px -50px;position:relative;top:50%; 
      left:60%;background-color:white">Res D</a><a href="/" type="button"style="height:20px;width:100px; margin: -20px -50px;position:relative;top:50%; 
      left:70%;background-color:white">ALL</a></div>
    <div id="container" style="padding-top: 2cm"></div>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment.min.js"></script>
  <script type="text/javascript" src="scriptA.js"></script>
</body>

</html>